// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//Primary
$fire-starter: rgb(190, 30, 45);
$cool-down: rgb(138, 140, 143);

//Secondary
$sleek: rgb(65, 57, 6);
$spicy: rgb(240, 78, 3);
$lucky: rgb(213, 162, 141);
$bamboo: rgb(215, 228, 19);
