// Specific CSS for your home-page
.wrapper {
  display: flex;
  background-color: $fire-starter;
}
#left-bar {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: $cool-down;
}

.header h1 {
  color: $fire-starter;
  font-family: athelas, serif;
  font-size: 144px;
  padding-left: 10px;
  margin: 0px;
}

.subheader h2{
  color: $bamboo;
  font-size: 36px;
  padding-left: 10px;
  margin-top: -10px;
}

.homebody {
  font-family: athelas, serif;
  padding: 15px;
  font-size: 24px;
}


//Banner

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 150px;
  color: $fire-starter;
  font-family: athelas, serif;
  padding-right: 200px;
  padding-bottom: 200px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  color: $cool-down;
  font-size: 36px;
  opacity: 0.6;
  margin-bottom: 30px;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
}
