<div class="navbar-wagon">
  <!-- Logo -->
    <a href="/menu" class="navbar-wagon-item navbar-wagon-link">Menu</a>
      <a href="/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/chimeraggeddon/image/upload/v1538964003/minilogo.png" alt="logo">
  </a>
    <a href="/locations" class="navbar-wagon-item navbar-wagon-link">Locations</a>
</div>
