<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/chimeraggeddon/image/upload/v1538962586/TOWN/townlp.jpg');">
  <div class="banner-content">
    <h1>TOWN</h1>
    <h2>To bring quality, style and the wish for good fortune to all of our guests. We provide a high-end experience through Chinese cuisine.</h2>
  </div>
</div>

<div class="wrapper">
  <div class="homebody">
    <div class="left-bar">
      <!--The p tag is for paragraph for block elements of text -->
      <p>TOWN combines a variety of chinese cuisine to excite and delight our customers.  Our vision for the future is to create experiential dining that is more than just a night out. We aim to bring quality and luxury across all aspects of our brand. The approach of TOWN is to develop our brand with the understanding of both our culture and consumer insights. Within our vision always lives the promise of inspiring creativity, conversation and quality. Our audience is a high-end clientele who values a dining experience. The age range of our customers are from early 30s-60s. We would like them to come back for both personal dining and events. </p>
    </div>
    <div class="right-bar">

    </div>
  </div>
</div>
