<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/chimeraggeddon/image/upload/v1538962586/TOWN/townlp.jpg');">
  <div class="menu-banner-content">
      <h1>Menu</h1>
    <div class="menu-items">
      <ul>
        <li><img class="food-thumb" src="https://res.cloudinary.com/chimeraggeddon/image/upload/c_fill,h_150,w_150/v1540780051/TOWN/dana-devolk-696161-unsplash.jpg">
        <h3>Shrimp Taryaki Curry Fusion</h3><h5>$33.27</h5></li>
        <li><img class="food-thumb" src="https://res.cloudinary.com/chimeraggeddon/image/upload/c_fill,h_150,w_150/v1540776489/TOWN/sharon-chen-352895-unsplash.jpg">
        <h3>Brett's North American Famous Orange Chicken</h3><h5>$27.95</h5></li>
        <li><img class="food-thumb" src="https://res.cloudinary.com/chimeraggeddon/image/upload/c_fill,h_150,w_150/v1540776488/TOWN/drew-taylor-658070-unsplash.jpg">
        <h3>Supreme Asian Salad with Spicy Chicken</h3><h5>$17.88</h5></li>
      </ul>
    </div>
  </div>
</div>
