<section id="page-text">
  <h1>Sitemap</h1>
  <ul id="sitemap">
    <li>
      <a href="index.html" title="Welcome to TOWN">
        Home
      </a>
    </li>
    <li>
      <a href="#"
         title="Find out more about TOWN">
        About
      </a>
    </li>
    <li>
      <a href="#"
         title="Latest News about TOWN">
        News
      </a>
    </li>
    <li>
      <a href="#"
         title="The restaurant menu for TOWN">
        Menu
      </a>
    </li>
    <li>
      <a href="#"
         title="TOWN locations">
        Locations
      </a>
    </li>
  </ul>
</section>
